.product-card-container {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: relative;
	/* width: 240px; */
}

.product-info-container {
	transform: translateY(-32px);
	background: white;
	position: relative;
	border-radius: 0 0 16px 16px;
	padding: 8px 16px;
	border: 1px solid silver;
}

.product-category {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: -1px;
	color: white;
	background: indigo;
	padding: 4px 8px;
	border-radius: 0 8px 8px 0;
}

.product-image {
	height: 280px;
	border-radius: 16px;
	object-fit: cover;
	padding: 16px;
	border: 1px solid silver;
}

.product-name {
	font-weight: 500;
	margin: 4px 0;
	margin-top: 16px;
	max-width: 200px;
	font-size: 20px;
}

.product-add-cart {
	position: absolute;
	right: 8px;
	top: 8px;
	z-index: 10;
	padding: 4px;
	border: none;
	background: none;
	cursor: pointer;
}

.product-price-info {
	display: flex;
	align-items: center;
	margin-top: 0px;
	gap: 8px;
}

.product-selling-price {
	font-weight: 500;
	color: black;
}

.product-original-price {
	text-decoration: line-through;
	color: gray;
}

.product-discount-value {
	font-weight: 500;
	color: green;
}